In [2]:
import pandas as pd
import csv
import os

In [13]:
file_to_load = os.path.join("Resources", "budget_data.csv")
file_to_output = os.path.join("Budget_Analysis", "budget_analysis.txt")

In [14]:
path = "Resources/budget_data.csv"
df = pd.read_csv(path)
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [15]:
months = 0
month_of_change = []
net_changes = []
greatest_inc = ["", 0]
greatest_dec = ["", 9999999999999999999]
net_total = 0

In [16]:
with open(file_to_load) as financial_data:
    reader = csv.reader(financial_data)
    
    header = next(reader)
    
    first_row = next(reader)
    months += 1
    net_total += int(first_row[1])
    prev_net = int(first_row[1])
    
    for row in reader:

        # Track the total
        months += 1
        net_total += int(row[1])
        net_change = int(row[1]) - prev_net
        prev_net = int(row[1])
        net_changes += [net_change]
        month_of_change += [row[0]]
        
        if net_change > greatest_inc[1]:
            greatest_inc[0] = row[0]
            greatest_inc[1] = net_change
            
        if net_change < greatest_dec[1]:
            greatest_dec[0] = row[0]
            greatest_dec[1] = net_change

In [17]:
net_avg = sum(net_changes) / len(net_changes)

In [18]:
output = (
    f"Financial Analysis\n"
    f"----------------------------\n"
    f"Total Months: {months}\n"
    f"Total: ${net_total}\n"
    f"Average  Change: ${net_avg:.2f}\n"
    f"Greatest Increase in Profits: {greatest_inc[0]} (${greatest_inc[1]})\n"
    f"Greatest Decrease in Profits: {greatest_dec[0]} (${greatest_dec[1]})\n")

In [19]:
print(output)

Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average  Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159)
Greatest Decrease in Profits: Sep-2013 ($-2196167)

In [20]:
with open(file_to_output, "w") as txt_file:
    txt_file.write(output)